<div class="assets-wrapper">
    <div class="left-gradient"></div>
    <ul class="assets-list" style="padding: 0;
list-style-type: none;">
        <li class="__web-inspector-hide-shortcut__"></li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 96px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="a">
            </div>
        </li>
        <li></li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 112px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="b">
            </div>
        </li>
        <li></li>
        <li>
            <div><img style="width: 128px" src="http://127.0.0.1:8000/temp/img/payments/logo/ETH.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="c">
            </div>
        </li>
        <li></li>
        <li>
            <div><img style="width: 112px" src="http://127.0.0.1:8000/temp/img/payments/logo/bitcon-btc.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="b">
            </div>
        </li>
        <li></li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 96px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="a">
            </div>
        </li>
        <li class="__web-inspector-hide-shortcut__"></li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 112px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="b">
            </div>
        </li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 112px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="b">
            </div>
        </li>
        <li class="__web-inspector-hide-shortcut__"></li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 128px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="c">
            </div>
        </li>
        <li class="__web-inspector-hide-shortcut__"></li>
        <li>
            <div><img style="width: 112px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="b">
            </div>
        </li>
        <li></li>
        <li>
            <div><img style="width: 96px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="a">
            </div>
        </li>
        <li></li>
        <li>
            <div><img style="width: 112px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="b">
            </div>
        </li>
        <li class="__web-inspector-hide-shortcut__"></li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 128px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="c">
            </div>
        </li>
        <li class="__web-inspector-hide-shortcut__"></li>
        <li class="__web-inspector-hide-shortcut__"></li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 112px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="b">
            </div>
        </li>
        <li class="__web-inspector-hide-shortcut__"></li>
        <li>
            <div><img style="width: 96px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="a">
            </div>
        </li>
        <li></li>
        <li>
            <div><img style="width: 112px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="b">
            </div>
        </li>
        <li></li>
        <li>
            <div><img style="width: 128px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="c">
            </div>
        </li>
        <li class="__web-inspector-hide-shortcut__"></li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 112px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="b">
            </div>
        </li>
        <li class="__web-inspector-hide-shortcut__"></li>
        <li class="__web-inspector-hide-shortcut__">
            <div><img style="width: 96px" src="./assets/images/logos/default.png" onerror="this.onerror=null;this.src='./assets/images/logos/default.png';" data-sizecode="a">
            </div>
        </li>
    </ul>
    <div class="right-gradient"></div>
</div>